body{
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.page
{
    max-width:1200px ;
    
    
    margin-left: auto;
    margin-right: auto;
}

.login{
    float: left;
    border: 5px solid black;
    width: 400px;
    height: 300px;
    margin-left: 70px;
    margin-top: 80px;   
}
.login-title
{
    text-align: center;
    padding: 15px;
    background-color: rgb(81, 120, 138);
}
.input
{
  width: 370px;
  height: 35px; 
  border: 2px solid black;

  
}
.inputbox{
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    
    
}
#inputbtu
{
    background-color: blue;
    width: 375px;
    height:40px ;
    font-size: 15px;
}
#forget
{
    text-decoration:none;
    font-size: 13px;
}
#sing{
    font-size: 13px;
}
.plan
{
    float: right;
    border: 1px solid rgb(141, 137, 137);
    box-shadow:4px 4px 12px 4px rgba(149, 190, 245, 0.5);
    width: 570px;
    height: 340px;
    margin-top: 60px;
    margin-right:40px;
    margin-left: 0px;
}
#picture
{
    width: 50px;
    height:50px;
   border-radius: 100px; 
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    vertical-align:middle;
}
.pic
{
    width: 60px;
    height: 280px;
    float: left;
    
}
.select
{
    
    margin-right:80px;
    margin-top: 10px;
    width: 400px;
    height: 250px;
    float:right;
    text-align: left;
    font-size: 16px;
}
#garcia{
    margin-bottom: 2px;
    font-size: 18px;
    width: 429px;
    
}
#recommend
{
    margin: 0px;
    color: rgb(196, 192, 192);
    font-size: 13px;
}
.checkmark
{
    position: relative;
    top: 5px;
    width: 20px;
    height: 20px;
    
}
.check
{
   position: relative;
   top: 20px;
   font-size: 15px;
}
.explore{
    width: 388px;
    height: 60px;
    
    margin-left: auto;
    
    
   
}
#top-hr{
    
position: relative;
right:99px ;
}
#all-plane
{
    text-align: center;
    color: rgb(42, 63, 155);
    margin-left:auto;
    margin-right:auto;  
}
.adpig
{
    padding: 10px;
    
}
.adpic{
    vertical-align:sub;
    margin-top:420px ;
    height: 150px;
   
    
}

#gold{
    width: 10px;
    height: 10px;
    padding-right:3px ;
    margin-top:20px ;
    margin-left: 30px;

    
}
.adpic{
    background-image:url('../hero.jpg');
    width: 1180px;
    color: rgb(250, 236, 211);
}
.goldworld
{
    font-size: 10px;
}
#joinword
{
    text-align: center;
    color: white;
    margin-bottom: 5px;
}
#startword{
    text-align: center;
    color: rgb(189, 185, 185);
    font-size: 10px;
    margin-top:1px;  
}

.planbox
{
    width:1200px ;
    margin-left: 30px;
    margin-right: 0px;

}
.plan-box
{
    width: 250px;
    height: 290px;
    padding: 0px;
    margin-top: 50px;
    margin-left:25px;
    
    display: inline-block;
    vertical-align: text-top;
    border: 2px solid black;

}
.title-1
{
    text-align: center;
    background-color: green;
    font-size: 20px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    
}
#hired
{
    font-size: 10px;
    
}
.list-1
{
    font-size: 10px;
    padding-left:25px ;

}
.btu
{
    
    border-color: blue;
    width: 170px;
    height:40px ;
    font-size: 15px;
    background-color: white;
    
}
.btu:hover{
    background-color: aqua;
}

.title-2
{
    text-align: center;
    background-color: rgb(99, 208, 241);
    font-size: 20px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    
}
#busin
{
    font-size: 10px;
    
}
.list-2
{
    font-size: 10px;
    padding-left:25px ;

}


.title-3
{
    text-align: center;
    background-color: rgb(91, 106, 190);
    font-size: 20px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    
}
#sale
{
    font-size: 10px;
    
}
.list-3
{
    font-size: 10px;
    padding-left:25px ;

}


.title-4
{
    text-align: center;
    background-color: rgb(221, 34, 34);
    font-size: 20px;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: white;
    
}
#hiring
{
    font-size: 10px;
    
}
.list-4
{
    font-size: 10px;
    padding-left:25px ;

}
#foot {
    padding: 30px;
    color: #577de6;
    font-size: 11px;
    margin-left: 90px;
    text-align: center;
}

.footer td {
    border-right: 1px solid #8a8484;
    padding: 0 5px;
}
#footer-hr
{
    width: 1000px;
    position: relative;
    right:90px;
     
}
